<!DOCTYPE html>
<html>
<head>
    <title>Build A Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

    <header>
        <nav style="float:left;">
            <a class="btn-green" href="/">Home</a>
            <a class="btn-green" href="/blog">All Blog Posts</a> 
            <a class="btn-green" href="/newpost">Add New Post</a>
        </nav>
        <nav style="float:right;">
            <a class="btn-orange" href="/signup">Sign Up</a>
            <a class="btn-orange" href="/login">Login</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>